fieldset{
	padding-top: .25em;
}

fieldset input[type="text"]{
	width: 25em;
}

table{
	border-collapse: collapse;
}

table tbody td, table thead th{
	border: .0625em solid #5555AA;
	padding: .25em;
}