#header{
	color: #555555;
	
	height: 3.125em;
	line-height: 3em;
	
	margin-bottom: 2.125em;
	border-bottom: .0625em solid #C5CAE8;
	padding: .3125em;
	
	background: #F1F1F1;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #E5ECF9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E5ECF9));	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E5ECF9',GradientType=0 );
}

#logo{
	float: left;
	font-size: 3em;
}

#logo_pic
{
	background-image:url('/images/order_colored.png');
	
	height: 74px;
    width: 152px;
	left: 0.19em;
    top: 0.22em;
	
	z-index:10000;
}

#transparency{
	background-color: rgba(229, 236, 249, 0.75);
    float: left;
    height: 0.02em;
    left: 0.25em;
    top: 1.14em;
    width: 2em;
}

#searchBar{
	float: left;
	margin: .1em 1em auto auto;
}

#searchInput{
	font-style: italic;
	font-size: .8em;
	color: #AAAAAA;
}

#headNav{
	float: right;
}

.headNav_li{
	list-style-type: none;
	display: inline;
	padding: 0 .125em 0 .125em;
}

#headContent{
	float: right;
	width: auto;
	margin: .8em 2em auto auto;
	line-height: 1em;	
}