#header{
	height: 3.125em;
	border-bottom: .0125em solid #D5DCE9;
	padding: .3125em;
	
	background: #F1F1F1;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #E5ECF9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E5ECF9));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E5ECF9',GradientType=0 );
	
	color: #555555;
	line-height: 3em;
}

#logo{
	float: left;
	font-size: 3em;
}

#searchBar{
	float: left;
	margin: .1em 1em auto auto;
}

#searchInput{
	font-style: italic;
	font-size: .8em;
	color: #AAAAAA;
}

#headNav{
	float: right;
}

.headNav_li{
	list-style-type: none;
	display: inline;
	padding: 0 .125em 0 .125em;
}

#srchNavCont{
	float: right;
	width: auto;
	margin: .8em 2em auto auto;
	line-height: 1em;	
}