#breadcrumb{
	border-bottom: .0625em solid #EEEEEE;
	width: 62.5em;
	padding-bottom: .5em;
	left: -2em;
}

#info{
	float: left;
}

#control{
	margin-top: 3.5em;
	float: left;
}

#control #ingredients{
	text-align: left;
	padding-left: 1.2em;
	line-height: 1.6em;
	font-size: 1.1em;
}

#control #ingredients input[type=checkbox]{
	margin-left: -1.2em;
}

#control textarea{
	width: 100%;
	height: 10em;
}

#pic img{
	height: 22em;
}

/* add/edit item form */
	#add, #edit{
		width: 100%;
	}

	#add fieldset, #edit fieldset{
		float: left;
		
		margin-right: .5em;
		margin-top: 1em;
		padding-top: .5em;
		width: 26.6em;
	}

	#add label, #edit label{
		margin-bottom: .1em;
		display: inline-block;
	}

	#add input[type="text"], #add input[type="file"], #add textarea, #add a.y,
	#edit input[type="text"], #edit input[type="file"], #edit textarea, #edit a.y{
		margin-left: 3.4em;
		margin-bottom: 1em;
	}
	
	/* prep & price fields */
	#add #prep, #edit #prep{
		width: 2em;
		text-align: right;
	}
	
	#add #price, #edit #price{
		width: 4em;
		text-align: right;
	}
	/* end prep & price fields */

	#add input[type="text"], #edit input[type="text"]{
		width: 28em;
	}

	#add textarea, #edit textarea{
		width: 28.8em;
	}

	#add #submit, #edit #submit{
		width: 100%;
		float: left;
		margin-top: 3em;
	}
/* ------------- */

/* delete item form */

/* ---------------- */

.recButton{
	width: 7em;
	height: 7em;
	margin: .75em;
	float: left;
}