#breadcrumb{
	border-bottom: .0625em solid #EEEEEE;
	width: 62.5em;
	padding-bottom: .5em;
	left: -2em;
}

#info{
	float: left;
}

#control{
	margin-top: 3.5em;
	float: left;
}

#control #checkboxes{
	text-align: left;
	padding-left: 1.2em;
	line-height: 1.6em;
	font-size: 1.1em;
}

#control #checkboxes input[type=checkbox]{
	margin-left: -1.2em;
}

#control textarea{
	width: 100%;
	height: 10em;
}

#pic img{
	height: 22em;
}

/* add item form */
	#add{
		width: 100%;
	}

	#add fieldset{
		float: left;
		
		margin-right: .5em;
		margin-top: 1em;
		padding-top: .5em;
		width: 26.6em;
	}

	#add label{
		margin-bottom: .1em;
		display: inline-block;
	}

	#add input[type="text"], #add input[type="file"], #add textarea, #add a.y{
		margin-left: 3.4em;
		margin-bottom: 1em;
	}
	
	/* prep & price fields */
	#add #prep{
		width: 2em;
		text-align: right;
	}
	
	#add #price{
		width: 4em;
		text-align: right;
	}
	/* end prep & price fields */

	#add input[type="text"]{
		width: 28em;
	}

	#add textarea{
		width: 28.8em;
	}

	#add #submit{
		width: 100%;
		float: left;
		margin-top: 3em;
	}
/* ------------- */

/* delete item form */

/* ---------------- */