body{
	color: #000000;
	background: #FFFFFF;
	position: absolute;
}

a{
	text-decoration: none;
	color: #555555;
}

a:hover{
	text-decoration: underline;
}

#page{
	width: 58.5em;
	margin: 1em auto auto auto;
	min-height: 550px;
	
	padding: 1em 2em;
	
	background: #FFFFFF;
	
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
}

.big_button{
	width: 10em;
	height: 10em;
	display: table;
	
	background-color: #ECECEC;
	
	color: #3C3C3D;	
	text-align: center;
	
	-moz-border-radius: .125em;
	-webkit-border-radius: .125em;
	border-radius: .125em;
	
	cursor: pointer;
}

.big_button:hover, .big_button:focus{
	background-color: #2D7DC5;
	
	color: #FFFFFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.big_button:active{
	-webkit-box-shadow: inset 2px 2px 1px #145791;
	-moz-box-shadow: inset 2px 2px 1px #145791;
	box-shadow: inset 2px 2px 1px #145791; 
}

.big_button span{
	display: table-cell;
	vertical-align: middle;
}

#sticky-wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4.04em;
	
	background-color: #EEEEEE;
}

#footer, #push {
	height: 3em;
	padding-top: 1em;
}