body{
	color: #000000;
	background: #FFFFFF;
	position: absolute;
}

a{
	text-decoration: none;
	color: #555555;
}

#page a{
	color: #5555AA;
}

a:hover{
	text-decoration: underline;
}

#page{
	width: 58.5em;
	margin: 1em auto auto auto;
	min-height: 550px;
	
	padding: 1em 2em 0em 2em;
	
	background: #FFFFFF;
	
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-topright: .5em;
	-webkit-border-top-left-radius: .5em;
	-webkit-border-top-right-radius: .5em;
	border-radius-top-right: .5em;
	border-radius-top-left: .5em;
}

#sticky-wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3.04em;
	
	background-color: #EEEEEE;
}

#footer, #push {
	height: 3em;
}