form{
	width: 25em;
}

input[type='text'], input[type='password']{
	width: 28em;
}

textarea{
	width: 28.7em;
}

label{
	margin: 1em auto auto auto;
	display: inline-block;
}

#login{
	width: 28em;
	margin: 1em auto auto auto;
}

#submit_button{
	margin: 1em auto 1em auto;
	float: right;
}