#curMenuItem
 {
	padding:20px;
	min-height:500px;
	width:75%;
	float:left;
 }
 #curMenuItem_title
 {
	font-size:2em;
	float:left;
	width:200px;
 }
 #curMenuItem_title_rating
 {
	font-size:.5em;
	vertical-align:top;
	font-style:italic;
 }
 #curMenuItem_pic
 {
 float:left;
 width:200px;
 }
 #ingredients_list
 {
	width:25%;
	float:left;
 }
 #curMenuItem_desc
 {
 }
 #addButton
 {
 float:right;
 }
 #reviewButton
 {
float:right;
 }