.section{
	border-bottom: .0625em solid #C5CAE8;
}

table{
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	border: .0625em solid #C5CAE8;
}

th, td{
	padding: .5em;
}

thead tr, tfoot tr{
	background-color: #C5CAE8;
}