#table_holder
{
	width:95%;
	margin-left:auto;
	margin-right:auto;
}
#sort
{
	width:100%;
}
table
{
border: .0625em solid #dedede;
border-collapse: collapse;
margin: 1em auto 1em auto;
-moz-border-radius: .25em;
-webkit-border-radius: .25em;
border-radius:  .25em;
}
td
{
padding:.5em;
text-align:center;
}
th
{
padding:.125em;
text-align:center;
}
tr
{
font-size:.8em;
height:1em;
background-color:#cdcdcd;
}
.\31, .\40, .\41
{
background-color:#8AEB96;
}
tr.\32, .\37
{
background-color:#E3FFEB;
font-weight: strong;
}
tr.\33, .\38
{
background-color:#E5E3FF;
}
tr.\34, .\39
{
background-color:#FFE3E3;
color:#666;
font-style: strikethrough;
}
.catid1, .catid15, .catid16, .catid17 
{
background-color:#E3FFEB;
}
.catid2, .catid6, .catid7, .catid8, .catid9, .catid10, .catid11, .catid12, .catid13 
{
background-color:#FFE3E3;
}
.catid3
{
background-color:#F9FFE3;
}
.catid4
{
background-color:#E5E3FF;
}
.catid5
{
background-color:#FFE3EA
}
#item_desc div
{
float:left;
padding:.5em;
margin:.5em;
border:.0625em solid #dedede;
font-size:.8em;
}
#item_desc
{
width:100%
}
#buttons
{
	border-bottom: .0625em solid #EEEEEE;
	width: 62.5em;
	padding-bottom: .5em;
	left: -2em;
	margin-bottom:1em;
}