#placeholder
{
	float:left;
	width:37.5em;
	height:18.75em;
}
#report_title
{
	text-align:center;
	font-size:3em;
}
#report_opts
{
	float:left;
	width:15.375em;
	margin-right:0.938em;
	text-align:right;
}
#report_body
{
	width:100%;
	margin: 1.563em auto auto auto;
}
#update_form, #add_item_selector
{
	margin:.625em 1.250em .625em auto;
}
#breadcrumb
{
	border-bottom: .0625em solid #EEEEEE;
	width: 62.5em;
	padding-bottom: .5em;
	margin-bottom:1em;
	left: -2em;
}
.item 
{
	margin: 1em;
	float: left;
}
#hourly_placeholder
{
	width:47em;
	height:25em;
	margin:auto;
}