#placeholder
{
	float:left;
	width:600px;
	height:300px;
}
#report_title
{
	text-align:center;
	font-size:3em;
}
#report_opts
{
	float:left;
	width:150px;
	margin-right:15px;
	text-align:right;
}
#report_body
{
	width:765px;
	margin: 25px auto auto auto;
}
#update_form, #add_item_selector
{
	margin:10px 20px 10px auto;
	
}
